table{
    border-radius: 5px;
}
/* .cal{
    
    background-color: rgba(0, 0, 0, 0.041);
} */
.inp{
    height: 50px;
}
 input{
    height: 40px;
    border: none;
    width: 200px;
 }

th{
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.137);
}